In [49]:
#Creating a Table using dict. data

import pandas as pd
student_data= {
    'Name' : ['Khalid','Rahim','Karim'],
     'ID'  : [8,9,10],
    'Department':['IT','EEE','CSE'],
    'HomeTown' : ['Gopalganj','Dhaka','Khulna']
}

df= pd.DataFrame(student_data)
#print(df)
df

     Name  ID Department   HomeTown
0  Khalid   8         IT  Gopalganj
1   Rahim   9        EEE      Dhaka
2   Karim  10        CSE     Khulna

In [55]:
#creating a dataframe using tuple

import pandas as pd
student_data= [
     ('Khalid','08','IT','Gopalganj'), #only zero 08 will count as a eorror ,
     ('Rahim','09','EEE','Dhaka'),     #USE string
     ('Rahim',9,'EEE','Dhaka'),
     ('Karim',10,'CSE','Khulna')
]

df = pd.DataFrame(data = student_data , columns=['Name','ID','Department','Home'])
df

#print(df)

     Name  ID Department       Home
0  Khalid  08         IT  Gopalganj
1   Rahim  09        EEE      Dhaka
2   Rahim   9        EEE      Dhaka
3   Karim  10        CSE     Khulna