In [57]:
import pandas as pd
data ={
    'Store':['Walmart','Walmart','Costco','Costco','Target','Target'],
    'Customer':['Tim','Jerri','Mark','Denice','Ray','Sam'],
    'Sales':[150,200,550,90,430,120]
}
df=pd.DataFrame(data)
df
print(df)
df.groupby('Store')[['Sales']].sum()
df.groupby('Store').count()
df.groupby(['Store','Customer'])[['Sales']].count() # group by with multiple column

df.groupby('Store').count()[['Customer']] # kon store a customer koto jon

     Store Customer  Sales
0  Walmart      Tim    150
1  Walmart    Jerri    200
2   Costco     Mark    550
3   Costco   Denice     90
4   Target      Ray    430
5   Target      Sam    120

         Customer
Store
Costco          2
Target          2
Walmart         2