In [31]:
import pandas as pd

student_data ={
    'Name':['Khalid','Ahmed','Ahsan'],
    'ID':[8,9,10],
    'Department':['CSE','IT','EEE'],
    'Age':[21,22,23]
}
df=pd.DataFrame(student_data)
print(df)
df


#row distribution in opposite order
df.loc[::-1] #this command is use to make this temporary

#df = df.loc[::-1].reset_index(drop = True) #use to make this permanently
#df

     Name  ID Department  Age
0  Khalid   8        CSE   21
1   Ahmed   9         IT   22
2   Ahsan  10        EEE   23

     Name  ID Department  Age
2   Ahsan  10        EEE   23
1   Ahmed   9         IT   22
0  Khalid   8        CSE   21

In [39]:
import pandas as pd

student_data ={
    'Name':['Khalid','Ahmed','Ahsan'],
    'ID':[8,9,10],
    'Department':['CSE','IT','EEE'],
    'Age':[21,22,23]
}
df=pd.DataFrame(student_data)
print(df)


df = df.loc[:,::-1] #use to change column
df

     Name  ID Department  Age
0  Khalid   8        CSE   21
1   Ahmed   9         IT   22
2   Ahsan  10        EEE   23

   Age Department  ID    Name
0   21        CSE   8  Khalid
1   22         IT   9   Ahmed
2   23        EEE  10   Ahsan