In [23]:
import pandas as pd
student_data= {
    'Name' : ['Khalid','Rahim','Karim','Akash'],
    'Stu_ID' : [1,2,3,4],
    'Department' : ['CSE','EEE','CSE','CSE'],
    'CGPA' : [3.80,3.50,3.22,2.90]
}

df = pd.DataFrame(student_data)
#df
#print(df)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        4 non-null      object
 1   Stu_ID      4 non-null      int64
 2   Department  4 non-null      object
 3   CGPA        4 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 260.0+ bytes

In [24]:
#use of df.describe() to find out the mean, std,min

import pandas as pd
student_data= {
    'Name' : ['Khalid','Rahim','Karim','Akash'],
    'Stu_ID' : [1,2,3,4],
    'Department' : ['CSE','EEE','CSE','CSE'],
    'CGPA' : [3.80,3.50,3.22,2.90]
}

df = pd.DataFrame(student_data)
df

df.describe()
#df.describe(include ='all')

         Stu_ID      CGPA
count  4.000000  4.000000
mean   2.500000  3.355000
std    1.290994  0.384838
min    1.000000  2.900000
25%    1.750000  3.140000
50%    2.500000  3.360000
75%    3.250000  3.575000
max    4.000000  3.800000

In [40]:
#existing table a new column and new calculative column nicchi

import pandas as pd
student_data= {
    'Name' : ['Khalid','Rahim','Karim','Akash'],
    'Age' : [19,20,30,40],
    'Department' : ['CSE','EEE','CSE','CSE'],
    'CGPA' : [3.80,3.50,3.22,2.90],
    'Course_credit':[3,4,5,6]
}

df = pd.DataFrame(student_data)
df

#taking new column in a existing table

df['Newcolumn']='Test'
df

#taking new column and operation

df['A*C'] = df['Age'] * df['Course_credit']
df

#taking new column and multiple operation

df['Age * course er percentage'] = df['Age'] * df['Course_credit'] / 100
df

,Name,Age,Department,CGPA,Course_credit,Newcolumn,A*C,Age * course er percentage
0,Khalid,19,CSE,3.80,3,Test,57,0.57
1,Rahim,20,EEE,3.50,4,Test,80,0.80
2,Karim,30,CSE,3.22,5,Test,150,1.50
3,Akash,40,CSE,2.90,6,Test,240,2.40

In [45]:
import pandas as pd
student_data= {
    'Name' : ['Khalid','Rahim','Karim','Akash'],
    'Age' : [19,20,30,40],
    'Department' : ['CSE','EEE','CSE','CSE'],
    'CGPA' : [3.80,3.50,3.22,2.90],
    'Course_credit':[3,4,5,6]
}

df = pd.DataFrame(student_data)
df

#addition operation with a column

df['Age'] = df['Age'] + 5
df

#update a column

df['Age']=[40,50,60,70]
df

     Name  Age Department  CGPA  Course_credit
0  Khalid   40        CSE  3.80              3
1   Rahim   50        EEE  3.50              4
2   Karim   60        CSE  3.22              5
3   Akash   70        CSE  2.90              6

In [55]:
import pandas as pd

climate_data ={
    'Day' :['01.01.2023','02.01.2023','03.01.2023'],
    'Temperature':[31,27,30],
    'Windspeed' :[3,6,9],
    'event':['Sunny','Rainy','Cloudy']
}

df = pd.DataFrame(climate_data)
df

#single dataframe update using single condition condition

df.at[2,'Temperature']=40
df
df.at[1,'Temperature']= 50
df


#multiple dataframe update using multiple condition

df.loc[df['Windspeed']>3 ,['event']]='Sunny'
df
df.loc[df['Windspeed']==3,['event']]='Cloudy'
df

          Day  Temperature  Windspeed   event
0  01.01.2023           31          3  Cloudy
1  02.01.2023           50          6   Sunny
2  03.01.2023           40          9   Sunny